.foot_sec {
    width: 100%;
  }
  .foot_left {
    width: 100%;
  }
  .foot_left img {
    max-width: 30%;
    margin-bottom: 20px;
  }
  .foot_left p {
    font: 500 18.52px/28px "Poppins", sans-serif;
    color: #fff;
  }
  .foot_rt {
    width: 100%;
  }
  .foot_rt h3 {
    font: 600 22.52px/28px "Poppins", sans-serif;
    color: #fff;
  }
  .foot_rt p span {
    display: inline-block;
    width: 100%;
    font: 500 18.52px/28px "Poppins", sans-serif;
    color: #fff;
    padding-top: 10px;
  }
  .foot_rt p,
  .foot_rt p a {
    font: 500 18.52px/28px "Poppins", sans-serif;
    color: #f2c426;
  }
  .foot_top {
    width: 100%;
    background: #046a38;
    padding: 60px 0;
  }
  .foot_btm {
    width: 100%;
    background: #000;
    padding: 20px 0;
  }
  .foot_btm p {
    font: 500 15.52px/28px "Poppins", sans-serif;
    color: #fff;
  }
  .foot_btm p a {
    color: #f2c426;
  }